body {
    background: Linen;
    margin-top: 50px;
    margin-left: 100px;
    }
p {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: DarkSlateGray;
    }
h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    color: FireBrick;
    }
h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    color: FireBrick;
}
h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: FireBrick;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.notes {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: black;
}
