<html>
<head> 
    <link rel="stylesheet" href="/static/styles.css?q=1280549849">   
    <title>upload</title>  
</head>  
<body class="centered"> 
    <h3>Upload a file to make a table</h3>
    <p>Upload a file in text format to turn into an excel</p>
    <p>Upload a file in excel file to turn into WikiMedia format</p>
    <h1>Upload excel</h1>
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" value="Upload">  
    </form>
    <h2>Upload text</h2>
    <form action="/success2" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>  
</body>  
</html>
